.env

# Ansible related
*.retry

# Tasks
taskfile.local.yml
.taskfiles.yml

# Editor & OS files
*.swp
*.swo
*.bak
*.tmp
*.DS_Store
Thumbs.db

# SSH keys or sensitive files
*.pem
*.key
*.crt
*.asc

# Python cache files
__pycache__/
*.pyc

# Node
node_modules

# Logs and dumps
*.log

# Backup files
*~

# Temporary archives
*.tar.gz
*.zip
