{
  "branches": ["main"],
  "repositoryUrl": "https://x-access-token:${GITHUB_TOKEN}@github.com/mircsicz/ansible_role_docker-install.git",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/github"
  ]
}
